.make-contact {
  width: 50%;
  float: right;
  transform: translateY(50%);

  h1 {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Coolvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
  }

  .contact-info {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    .item {
      background: rgba(255, 255, 255, 0.1);
      padding: 15px;
      border-radius: 5px;
      margin: 10px auto;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      width: 80%;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      a, span {
        color: white;
        margin-left: 10px;
        text-decoration: none;
        font-size: 1.2vw;

        &:hover {
          text-decoration: underline;
        }
      }
      &.telephone span:hover {
        text-decoration: none;
      }
      svg {
        font-size: 2vw;
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    float: none;
    width: 80%;
    bottom: 40%;
    height: 60%;
    margin-bottom: 40%;
    padding: 10%;
    h1 {
      font-size: 5vw;
    }

    .contact-info {
      .item {
        a, span {
          font-size: 2.5vw;
        }

        svg {
          font-size: 5vw;
        }
      }
    }
  }
}
