.contact-form {
  width: 50%;
  max-width: 100%;
  margin-top: 10%;
  margin-left: 25%;
  height: 70%;
  //margin-bottom: 10%;
  left: 40%;
  //top: 5%;
  position: relative;
  //size: 100px;

  //@media (max-width: 768px) { /* Adjust these breakpoints as needed */
  //  .contact-form {
  //    width: 80%; /* Adjust the width for smaller screens */
  //    margin-left: 10%; /* Adjusted margin for better positioning */
  //    margin-top: 5%;
  //    top: 0;
  //    left: 10%;
  //  }
  //}
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      list-style: none;
      margin: 0 0 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      //float: right;
      clear: none;

      &:first-child {
        //margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  input[type=submit] {
    background: #115173;
    outline: #f5e472;
    padding: 1% 3%;
    font-size: 1vw;
    letter-spacing: 3px;
    border-radius: 4px;
    float: left;
    margin-left: 15px;
    color: #f5e472;
  }
}