.contact-form {
  width: 50%;
  max-width: 100%;
  margin: 10% auto;
  height: 70%;
  left: 40%;
  position: relative;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    width: 50%;

    li {
      clear: both;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    background: #063427;
    border-color: #f5e472;
    border-radius: 8px;
    height: 7vh;
    font-size: 1.3vm;
    color: #fff;
    padding: 5%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    background: #063427;
    border-color: #f5e472;
    border-radius: 8px;
    height: 20vh;
    font-size: 1.3vm;
    color: #fff;
    padding: 5%;
    box-sizing: border-box;
  }

  input[type=submit] {
    background: #063427;
    outline: #f5e472;
    padding: 1% 3%;
    font-size: 1.2vw;
    letter-spacing: 3px;
    border-radius: 4px;
    float: left;
    margin-left: 15px;
    color: #f5e472;
  }
}

@media (max-width: 768px) {
  .contact-form {
    margin-top: 30%;
    margin-left: -10%;
    max-width: 80%;
    left: 15%;
    text-align: center;
    padding: 0 5%;
    height: 2vh;
    top: 85%;
    float: left;
    ul{
      bottom: 170%
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border-radius: 8px;
      height: 4vh;
      color: #fff;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      border-color: #f5e472;
      border-radius: 8px;
      height: 14vh;
      font-size: 1.3vm;
      color: #fff;
      padding: 5%;
      box-sizing: border-box;
    }
    input[type=submit] {
      margin-left: 0;
    }
  }
}